@charset "utf-8";

header video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: contain;
}

header hgroup {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  font-family: "Bebas Neue, sans-serif";
  font-weight: bold;
  padding: 20vh 10vw;
}

header hgroup h1 {
  font-size: 5rem;
  margin-bottom: 0;
  text-shadow: 0px 2px 5px black;
}

header hgroup p {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: 0px 2px 5px rgb(2, 47, 97);
}

header hgroup button {
  display: inline-block;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  text-shadow: 0px 2px 5px rgb(245, 244, 244);
}

